@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #58a6ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    /* enable native smooth scrolling for anchor links */
    scroll-behavior: smooth;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.accent {
  color: var(--accent);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.welcome-screen {
  height: 100vh;
  width: 100vw;
}

.container {
  height: fit-content;
  width: 100%;
  position: relative;
  transition: background 0.3s;
  background-image: radial-gradient(#58a6ff5d 1px, transparent 1px);
background-size: 20px 20px;

}

.container.black {
  background-color: black;
}

.container.white {
  background-color: white;
}

.welcome {
  position: fixed;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 5rem;
  transform: translate(-50%, -50%);
  font-weight: 900;
  font-family: "Momo Signature", cursive;
  font-weight: 900;
}

.about {
  height: 100vh;
  width: 100vw;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.title {
  transform: translateY(-100px);
  opacity: 0;
  transition: transform 1.5s, opacity 1.5s;
  font-family: "Momo Signature", cursive;
  font-weight: 900;
  font-size: 4rem;
}

.show-title {
  transform: translateY(0);
  opacity: 1;
}


.card {
  border: 1px solid #ccc;
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  text-align: center;

  display: grid;
  gap: 10px;
}

.hidden {
  display: none;
}

/* about 2 */

.col {
    width: 50%;
}

#vertical {height: fit-content;width: 100vw;}

.vertical__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: black;
    gap: 100px;
}

.vertical__content .col_left {height: 100%; width: fit-content;}

.vertical__content .col.col_right {
    width: 40%;
}

.vertical__item {
  max-width: 450px;
}
.vertical__item p {
  font-size: 36px;
}
.vertical__item:not(:last-child) {
    margin-bottom: 240px;
}

.fake-section {
  height: 100vh;
  width: 100vw;
}

.col_left h2 {
  font-size: 48px;
  border-right: #0a0a0a 4px solid;
  padding-right: 40px;
  font-family: 'Momo Signature', cursive;
  border-radius: 20px;
}

.col_left h2 span {
  display: block;
}